:root {
  --light1: #f8fbf1;
  --light2: #e3e6dc;
  --light3: #ffffff;
  --dark1: #000000b9;
  --dark2: #002c00;
  --dark3: #2f4858;
  --green1: #00704a;
  --green2: #7d8d7f;
  --green3: #9fafa134;
  --yellow: #f7f760;
  --accent: red;
  --accent: #fc3f3f;
  --accent-hover: #ca0404;
  --font-family: "Urbanist", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --transition: all 0.2s ease-in-out;
  --border: 1px solid var(--light1);
  --border-green: 1px solid var(--light3);
  --radius: 5px;
  --radius-big: 8px;
  --box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.253);
  --big-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.568);
  --background: linear-gradient(45deg, #80ad6b41, #ffffffc5, white),
    url("./img-urip.jpg") center/cover no-repeat;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 46px;
  line-height: 46px;
  font-weight: 600;
  color: var(--green1);
}

h2 {
  font-size: 38px;
  line-height: 38px;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: var(--dark2);
}

h3 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--dark2);
}

h4,
legend {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--dark2);
}

h5 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--light2);
}

p,
input,
li,
label,
button,
.text {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--dark3);
}

@media screen and (max-width: 1600px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    color: var(--green1);
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 500;
  }
  h4 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }
  h5 {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--light2);
  }
  p,
  input,
  li,
  label,
  button,
  .text {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: var(--dark3);
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 36px;
    line-height: 36px;
  }
  h2 {
    font-size: 28px;
    line-height: 28px;
  }
  h3 {
    font-size: 20px;
    line-height: 20px;
  }
  h5 {
    font-size: 16px;
    line-height: 16px;
  }
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
  }
  h2 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }
  h4 {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: 500;
  }
  a h5 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: 300;
    color: var(--light2);
  }
  p,
  input,
  li,
  label,
  button,
  .text {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    color: var(--dark3);
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 600) {
  h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
  }
  h2 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
  }
  h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 400;
  }
  h4 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
  }
  a h5 {
    background-color: #fc3f3f;
    font-size: 10px;
    line-height: 8px;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--light2);
  }
  p,
  input,
  li,
  label,
  button,
  .text {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    color: var(--dark3);
    letter-spacing: 0px;
  }
}

.home {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-images {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.1rem;
  background-color: transparent;
  border: transparent;
  color: var(--light2);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: 2;
}

.arrow.next {
  right: 0.5rem;
}

.arrow.prev {
  left: 0.5rem;
}

.arrow:hover {
  color: var(--green2);
}

.home-image {
  position: absolute;
  background-color: var(--light1);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
  -webkit-box-shadow: inset 1px 3px 8px 8px #000000cc;
          box-shadow: inset 1px 3px 8px 8px #000000cc;
}

.home-image.active {
  display: none;
  left: 0;
  opacity: 1;
}

.home-image.before {
  left: -100%;
  opacity: 0;
}

.home-image.after {
  left: 100%;
  opacity: 0;
}

.home-image img {
  /* -webkit-backdrop-filter: blur(0.5rem) grayscale(0.3) brightness(0.6);
  backdrop-filter: blur(0.5rem) grayscale(0.3) brightness(0.6);
  -moz-backdrop-filter: blur(70px); */
  width: 100%;
  height: 100%;
  /* padding: 2rem 3rem; */
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: 1;
}

.home-image-background {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: blur(4px) brightness(0.6);
          filter: blur(4px) brightness(0.6);
}

.home-image-foreground {
  display: none;
  width: 100%;
  height: 100%;
  padding: 2rem 3rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.home-intro {
  display: none;
}
/*# sourceMappingURL=home.css.map */